<% include header %>
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li>product details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!--product details start-->
    <div class="product_details mt-100 mb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product-details-tab">
                        <div id="img-1" class="zoomWrapper single-zoom">
                            <%if(product){product.forEach(function(x){%>
                                <a href="#">
                                    <img id="zoom1" src="/public/uploads/<%=x.Cover%>"
                                        data-zoom-image="/public/uploads/<%=x.Cover%>" alt="big-1">
                                </a>
                                <% })} %>
                        </div>
                        <div class="single-zoom-thumb">
                            <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                                <%if(product){product.forEach(function(img){%>
                                    <% img.Image.forEach(function (x){%>
                                        <li>
                                            <a href="#" class="elevatezoom-gallery active" data-update=""
                                                data-image="/public/uploads/<%=x%>"
                                                data-zoom-image="/public/uploads/<%=x%>">
                                                <img src="/public/uploads/<%=x%>" alt="zo-th-1" />
                                            </a>
                                        </li>
                                        <% })})} %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product_d_right">
                        <%if(product){product.forEach(function(x){%>
                            <h1><a href="#">
                                    <%=x.Title%>
                                </a></h1>
                            <div class="product_variant color">
                                <label>Color:</label>
                                <%if(Array.isArray(x.Color)){%>
                                    <%x.Color.forEach(function(y){%>
                                            <%=y%>
                                <%})}else{%>
                                    <%=x.Color%>
                                <%}%>
                            </div>
                            <div class="product_variant color">
                                <label>Material:</label>
                                <%if(Array.isArray(x.Material)){%>
                                    <%x.Material.forEach(function(y){%>
                                            <%=y%>
                                <%})}else{%>
                                    <%=x.Material%>
                                <%}%>
                            </div>
                            <div class="product_variant color">
                                <label>Shape:</label>
                                    <%=x.Shape%> 
                            </div>
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Length(cm)</th>
                                    <th scope="col">Width(cm)</th>
                                    <th scope="col">Height(cm)</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <% var i=1; %> 
                                    <% x.Size.forEach(function(y){ %> 
                                    <tr>
                                      <th scope="row"><%=i%></th>
                                      <% y.forEach(function(s){ %> 
                                      <td><%=s%></td>
                                      <%})%>
                                      <% i++ %> 
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                            <% })} %> 
                                <div class="priduct_social">
                                    <ul>
                                        <li><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=<%=url%>" title="facebook"><i class="fa fa-facebook"></i>
                                        Share</a></li>
                                    </ul>
                                </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--product details end-->


    <!--product area start-->

    <!--product area start-->
    <!--product area end-->

    <!--brand area start-->
    <div class="brand_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2>Viewed Products</h2>
                    </div>
                    <div class="brand_container owl-carousel">
                        <% if(ds){ds.forEach(function(x){x.forEach(function(y){ %> 
                        <div class="single_brand">
                            <a href="/product-details.<%=y._id%>"><img src="/public/uploads/<%=y.Cover%>" alt=""></a>
                            <figcaption class="product_content">
                                    <h4 class="product_name"><a href="/product-details.<%=y._id%>"><%=y.Title%></a></h4>
                            </figcaption>
                        </div>
                        <% })})} %> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--brand area end-->
    <% include footer %>
        <!-- modal area start-->
        <div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-x"></i></span>
                    </button>
                    <div class="modal_body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12">
                                    <div class="modal_tab">
                                        <div class="tab-content product-details-large">
                                            <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                                <div class="modal_tab_img">
                                                    <a href="#"><img src="/images/img/product/productbig1.jpg"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab2" role="tabpanel">
                                                <div class="modal_tab_img">
                                                    <a href="#"><img src="/images/img/product/productbig2.jpg"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab3" role="tabpanel">
                                                <div class="modal_tab_img">
                                                    <a href="#"><img src="/images/img/product/productbig3.jpg"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab4" role="tabpanel">
                                                <div class="modal_tab_img">
                                                    <a href="#"><img src="/images/img/product/productbig4.jpg"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal_tab_button">
                                            <ul class="nav product_navactive owl-carousel" role="tablist">
                                                <li>
                                                    <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab"
                                                        aria-controls="tab1" aria-selected="false"><img
                                                            src="/images/img/product/product1.jpg" alt=""></a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" data-toggle="tab" href="#tab2" role="tab"
                                                        aria-controls="tab2" aria-selected="false"><img
                                                            src="/images/img/product/product2.jpg" alt=""></a>
                                                </li>
                                                <li>
                                                    <a class="nav-link button_three" data-toggle="tab" href="#tab3"
                                                        role="tab" aria-controls="tab3" aria-selected="false"><img
                                                            src="/images/img/product/product3.jpg" alt=""></a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" data-toggle="tab" href="#tab4" role="tab"
                                                        aria-controls="tab4" aria-selected="false"><img
                                                            src="/images/img/product/product8.jpg" alt=""></a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-12">
                                    <div class="modal_right">
                                        <div class="modal_title mb-10">
                                            <h2>Donec Ac Tempus</h2>
                                        </div>
                                        <div class="modal_price mb-10">
                                            <span class="new_price">$64.99</span>
                                            <span class="old_price">$78.99</span>
                                        </div>
                                        <div class="modal_description mb-15">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste
                                                laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti
                                                nam
                                                in quos qui nemo ipsum numquam, reiciendis maiores quidem aperiam, rerum
                                                vel
                                                recusandae </p>
                                        </div>
                                        <div class="variants_selects">
                                            <div class="variants_size">
                                                <h2>size</h2>
                                                <select class="select_option">
                                                    <option selected value="1">s</option>
                                                    <option value="1">m</option>
                                                    <option value="1">l</option>
                                                    <option value="1">xl</option>
                                                    <option value="1">xxl</option>
                                                </select>
                                            </div>
                                            <div class="variants_color">
                                                <h2>color</h2>
                                                <select class="select_option">
                                                    <option selected value="1">purple</option>
                                                    <option value="1">violet</option>
                                                    <option value="1">black</option>
                                                    <option value="1">pink</option>
                                                    <option value="1">orange</option>
                                                </select>
                                            </div>
                                            <div class="modal_add_to_cart">
                                                <form action="#">
                                                    <input min="1" max="100" step="2" value="1" type="number">
                                                    <button type="submit">add to cart</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal_social">
                                            <h2>Share this product</h2>
                                            <ul>
                                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a>
                                                </li>
                                                <li class="google-plus"><a href="#"><i
                                                            class="fa fa-google-plus"></i></a>
                                                </li>
                                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal area end-->


        <!-- JS
============================================ -->
        <!--jquery min js-->
        <script src="/javascripts/js/vendor/jquery-3.4.1.min.js"></script>
        <!--popper min js-->
        <script src="/javascripts/js/popper.js"></script>
        <!--bootstrap min js-->
        <script src="/javascripts/js/bootstrap.min.js"></script>
        <!--owl carousel min js-->
        <script src="/javascripts/js/owl.carousel.min.js"></script>
        <!--slick min js-->
        <script src="/javascripts/js/slick.min.js"></script>
        <!--magnific popup min js-->
        <script src="/javascripts/js/jquery.magnific-popup.min.js"></script>
        <!--counterup min js-->
        <script src="/javascripts/js/jquery.counterup.min.js"></script>
        <!--jquery countdown min js-->
        <script src="/javascripts/js/jquery.countdown.js"></script>
        <!--jquery ui min js-->
        <script src="/javascripts/js/jquery.ui.js"></script>
        <!--jquery elevatezoom min js-->
        <script src="/javascripts/js/jquery.elevatezoom.js"></script>
        <!--isotope packaged min js-->
        <script src="/javascripts/js/isotope.pkgd.min.js"></script>
        <!--slinky menu js-->
        <script src="/javascripts/js/slinky.menu.js"></script>
        <!-- Plugins JS -->
        <script src="/javascripts/js/plugins.js"></script>

        <!-- Main JS -->
        <script src="/javascripts/js/main.js"></script>
        


        </body>

        </html>